<html lang="en">
    
    <Head>
        <title> Outil étal solidaire</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" >
        <link rel="stylesheet" href="print.css" media="print" >
    </Head>

    <body>
        <main>
            <section class="en-tête">
            </section>
            <section class="dessus">

            </section>
            <section class="text texte_centre">
                <div class="case">
                    <div class="gauche">
                        <div class="text texte_haut"> 
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div> 
                        <div class="text titre">
                            <p>Lorem, ipsum.</p>
                        </div>
                        <div class="text texte_bas">
                            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aspernatur?</P>
                        </div>  
                    </div>
                    <div class="droite">
                        <div class="text texte_haut"> 
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div> 
                        <div class="text titre">
                            <p>Lorem, ipsum.</p>
                        </div>
                        <div class="text texte_bas">
                            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aspernatur?</P>
                        </div>  
                    </div>
                    <div class="milieu">
                        <div class="text texte_haut"> 
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div> 
                        <div class="text titre">
                            <p>Lorem, ipsum.</p>
                        </div>
                        <div class="text texte_bas">
                            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aspernatur?</P>
                        </div>  
                    </div>
                    <div class="gauche_bas">
                        <div class="text texte_haut"> 
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div> 
                        <div class="text titre">
                            <p>Lorem, ipsum.</p>
                        </div>
                        <div class="text texte_bas">
                            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aspernatur?</P>
                        </div>  
                    </div>
                    <div class="droite_bas">
                        <div class="text texte_haut"> 
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div> 
                        <div class="text titre">
                            <p>Lorem, ipsum.</p>
                        </div>
                        <div class="text texte_bas">
                            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aspernatur?</P>
                        </div>  
                    </div>
                </div>
            </section>
            <section class="bas">

            </section>
        </main>
        <footer>
            <a href="#" class="bouton" OnClick="javascript:window.print()">Imprimer</a>
        </footer>
    </body>
</html>
